/* Pon tu código css aqui */

.contenedor {
	          background: white;
	          border: 1px solid black;
}
.cajita {

	          width: 25%;
	          height: 100px;
            float: right;   
  }
  .amarillo { 
  	background-color: yellow;
   }

  .celeste {
  	background-color: #1E90FF;
  }

  .rosa {
  	background-color: #FF1493;
  }